.jp-file-info div
{
    display: flex;
}

.jp-bottom-div
{
    text-align: right;
    margin-bottom: 5px;
}

.jp-file-info
{
    flex-direction: column;
    min-width: 350px;
    min-height: 250px;

    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
}

.jp-file-info-header
{
    margin-bottom: 15px;
}

.jp-file-detail td
{
    text-transform: capitalize;
}

.jp-file-info-header .jp-file-info-header-icon
{
    flex-grow: 0;
    width: 64px;
    height: 64px;
}

.jp-file-info-header .jp-file-info-header-icon svg
{
    width: 64px;
    height: 64px;
}

.jp-file-info-header .file-info-header-title
{
    margin-left: 5px;
    flex-grow: 1;
    vertical-align: middle;
    align-items: center;

    font-weight: bold;
    font-size: var(--jp-ui-font-size2);
}

.jp-file-info-header
{
    flex-direction: row;
}

.jp-file-info-menu ul
{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.jp-file-info-menu li
{
    flex: 3;
    cursor: pointer;
    background: var(--jp-layout-color1);
    padding: 7px;
    text-align: center;
}

.jp-file-info li.active
{
    background: var(--jp-layout-color2);
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    font-size: var(--jp-ui-font-size1);
}

.jp-file-info-menu-separator
{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 2px;

    background: var(--jp-layout-color2);
    border: 0;
}

.jp-file-info-content
{
    margin: 5px 5px 5px 5px;
    padding-top: 10px;

    font-size: var(--jp-ui-font-size1);
    font-family: var(--jp-ui-font-family);
}

.jp-file-info-content th
{
    text-align: left;
}

.jp-shares
{
    width: 100%;
    flex-direction: column;
}

.jp-shares-list-container
{
    width: 100%;
    flex-direction: column;
}

.jp-shares-list-container .jp-shares-element
{
    flex-direction: row;
    padding: 10px 0 0 0;
}

.jp-shares-list-container .jp-shares-element > div
{
    flex-grow: 1;
    align-items: center;
}

.jp-shares-element .jp-shares-owner
{
    width: 90%;
    justify-content: left;
}

.jp-shares-element .jp-shares-label
{
    justify-content: right;
}

.jp-shares-list-container .label
{
    color: white;
    padding: 3px;
}

.jp-shares-list-container .label-editor
{
    background: var(--jp-accent-color1);
    color: #fff;
    padding: 6px;
    text-transform:capitalize;
}

.jp-shares-list-container .label-viewer
{
    background: var(--jp-brand-color1);
    color: #fff;
    padding: 6px;
    text-transform:capitalize;
}

.jp-shares-search-container
{
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.jp-shares-search
{
    width: 96%;

    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
    border: 1px solid;
    border-color: var(--jp-layout-color2);
    padding: 7px;
    background-image: var(--jp-icon-search);
    background-repeat: no-repeat;
    background-position: 97%;
}

.jp-shares-list-container
{
    width: 100%;
}

.cs3_tab_toolbar
{
    width: 100%;
}

.c3-panel-header
{
    height: 75px !important;
}

.c3-panel-bottom
{
    height: 25px !important;
}

.c3-panel-bottom > div
{
    padding-left: 10px;
}

#cs3-dock-panel-header h1
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.c3-title-widget
{
    padding-left: 10px;
    font-weight: bold;
}

#cs3-share-with-me-box-panel
{
    border-top: 3px solid #aaaaaa;
    padding-top: 5px;
}

#cs3-share-by-me-box-panel
{
    padding-top: 5px;
    border-top: 3px solid #aaaaaa;
}

.jp-shareform
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.jp-shareform-line
{
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 2%;
    width: 100%;
}

.jp-shareform-title{
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
}

.jp-shareform-element
{
    flex-basis: 70%;
    flex-direction: column;
}

.react-dropdown-select
{
    width: 90%;
}

.jp-share-permission {
    min-height: 25px;
    font-size: 13px;
    min-width: 80px;
    justify-content: center;
}

.jp-share-permission [placeholder] {
    display: none;
}

.lm-AccordionPanel .lm-AccordionPanel-title {
    box-sizing: border-box;
    padding: 0 10px;
    background: var(--jp-layout-color2);
    border: 1px solid var(--jp-layout-color2);
    border-bottom: none;
    font-size: var(--jp-ui-font-size1);
    font-family: var(--jp-ui-font-family);
    min-height: 22px;
    max-height: 22px;
    min-width: 35px;
    line-height: 20px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.lm-AccordionPanel .lm-AccordionPanel-title .lm-AccordionPanel-titleCollapser:before {
    content: var(--jp-icon-caret-down);
    font-weight: bold;
    color: var(--jp-ui-font-color0);
}

.lm-AccordionPanel .lm-AccordionPanel-title.lm-mod-expanded .lm-AccordionPanel-titleCollapser:before {
    content: var(--jp-icon-caret-up);
    font-weight: bold;
    color: var(--jp-ui-font-color0);
}